asn1crypto==0.24.0
cffi==1.11.5
click==6.7
cryptography==2.3
eventlet==0.23.0
Flask==1.0.2
Flask-SocketIO==3.0.1
greenlet==0.4.14
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.18
PyMySQL==0.9.2
python-engineio==2.2.0
python-socketio==2.0.0
rethinkdb==2.3.0.post6
six==1.11.0
Werkzeug==0.14.1
